In [1]:
import pandas as pd

## Load

In [2]:

# Load data
sports_df = pd.read_csv('olympics_data.csv')
sports_df.head()

,sno,ID,Name,Sex,Age,Height,Weight,Country,NOC,Games,Year,Season,City,Sport,Event,Medal
0,0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

## Female Sports

### Gold

In [3]:
# Filtering for FEMALE, Age, Height, Weight, Team, Sport, Event, Medal (GOLD)

female_sports_df = sports_df.loc[(sports_df['Sex'] =='F') & (sports_df['Medal'] =='Gold'), :]
female_sports_df.head()

,sno,ID,Name,Sex,Age,Height,Weight,Country,NOC,Games,Year,Season,City,Sport,Event,Medal
79,79,21,Ragnhild Margrethe Aamodt,F,27.0,163.0,NaN,Norway,NOR,2008 Summer,2008,Summer,Beijing,Handball,Handball Women's Handball,Gold
283,283,150,Margaret Ives Abbott (-Dunne),F,23.0,NaN,NaN,USA,USA,1900 Summer,1900,Summer,Paris,Golf,Golf Women's Individual,Gold
1494,1494,832,Nicola Virginia Adams,F,29.0,164.0,51.0,UK,GBR,2012 Summer,2012,Summer,London,Boxing,Boxing Women's Flyweight,Gold
1495,1495,832,Nicola Virginia Adams,F,33.0,164.0,51.0,UK,GBR,2016 Summer,2016,Summer,Rio de Janeiro,Boxing,Boxing Women's Flyweight,Gold
1527,1527,846,Valerie Kasanita Adams-Vili (-Price),F,23.0,193.0,120.0,New Zealand,NZL,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Women's Shot Put,Gold

In [4]:
# Saving Dataframe into a csv file
female_sports_df.to_csv('Female-Sports/female_olympics_gold.csv', index=False)

### Silver

In [5]:
# Filtering for FEMALE, Age, Height, Weight, Team, Sport, Event, Medal (SILVER)

female_sports_df = sports_df.loc[(sports_df['Sex'] =='F') & (sports_df['Medal'] =='Silver'), :]
female_sports_df.head()

,sno,ID,Name,Sex,Age,Height,Weight,Country,NOC,Games,Year,Season,City,Sport,Event,Medal
163,163,67,Mariya Vasilyevna Abakumova (-Tarabina),F,22.0,179.0,80.0,Russia,RUS,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Women's Javelin Throw,Silver
195,195,90,Tamila Rashidovna Abasova,F,21.0,163.0,60.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Cycling,Cycling Women's Sprint,Silver
286,286,153,Monica Cecilia Abbott,F,23.0,191.0,88.0,USA,USA,2008 Summer,2008,Summer,Beijing,Softball,Softball Women's Softball,Silver
311,311,165,Nia Nicole Abdallah,F,20.0,175.0,56.0,USA,USA,2004 Summer,2004,Summer,Athina,Taekwondo,Taekwondo Women's Featherweight,Silver
677,677,394,Irene Abel,F,19.0,160.0,48.0,Germany,GDR,1972 Summer,1972,Summer,Munich,Gymnastics,Gymnastics Women's Team All-Around,Silver

In [6]:
# Saving Dataframe into a csv file
female_sports_df.to_csv('Female-Sports/female_olympics_silver.csv', index=False)

### Bronze

In [7]:
# Filtering for FEMALE, Age, Height, Weight, Team, Sport, Event, Medal (BRONZE)

female_sports_df = sports_df.loc[(sports_df['Sex'] =='F') & (sports_df['Medal'] =='Bronze'), :]
female_sports_df.head()

,sno,ID,Name,Sex,Age,Height,Weight,Country,NOC,Games,Year,Season,City,Sport,Event,Medal
91,91,29,Willemien Aardenburg,F,22.0,NaN,NaN,Netherlands,NED,1988 Summer,1988,Summer,Seoul,Hockey,Hockey Women's Hockey,Bronze
105,105,37,Ann Kristin Aarnes,F,23.0,182.0,64.0,Norway,NOR,1996 Summer,1996,Summer,Atlanta,Football,Football Women's Football,Bronze
161,161,65,Patimat Abakarova,F,21.0,165.0,49.0,Azerbaijan,AZE,2016 Summer,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Women's Flyweight,Bronze
476,476,259,Reema Abdo,F,21.0,173.0,59.0,Canada,CAN,1984 Summer,1984,Summer,Los Angeles,Swimming,Swimming Women's 4 x 100 metres Medley Relay,Bronze
684,684,395,Jennifer Abel,F,20.0,160.0,62.0,Canada,CAN,2012 Summer,2012,Summer,London,Diving,Diving Women's Synchronized Springboard,Bronze

In [8]:
# Saving Dataframe into a csv file
female_sports_df.to_csv('Female-Sports/female_olympics_bronze.csv', index=False)

## Female Sport Categories

In [9]:
# Finding all female sports categories 
unique_f_sports_df = female_sports_df['Sport']
unique_f_sports_df = pd.DataFrame(unique_f_sports_df)

# unique_f_sports_df.Sport.unique()

## Female Sport Events

In [10]:
# Finding all female sport events
unique_f_events_df = female_sports_df['Event']
unique_f_events_df = pd.DataFrame(unique_f_events_df)

# unique_f_events_df.Event.unique()

## Male Sports

### Gold

In [11]:
# Filtering for MALE, Age, Height, Weight, Team, Sport, Event, Medal (GOLD)

male_sports_df = sports_df.loc[(sports_df['Sex'] =='M') & (sports_df['Medal'] =='Gold'), :]
male_sports_df.head()

,sno,ID,Name,Sex,Age,Height,Weight,Country,NOC,Games,Year,Season,City,Sport,Event,Medal
3,3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
42,42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold
44,44,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold
48,48,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,Gold
60,60,20,Kjetil Andr Aamodt,M,20.0,176.0,85.0,Norway,NOR,1992 Winter,1992,Winter,Albertville,Alpine Skiing,Alpine Skiing Men's Super G,Gold

In [12]:
# Saving Dataframe into a csv file
male_sports_df.to_csv('Male-Sports/male_olympics_gold.csv', index=False)

### Silver

In [13]:
# Filtering for MALE, Age, Height, Weight, Team, Sport, Event, Medal (SILVER)

male_sports_df = sports_df.loc[(sports_df['Sex'] =='M') & (sports_df['Medal'] =='Silver'), :]
male_sports_df.head()

,sno,ID,Name,Sex,Age,Height,Weight,Country,NOC,Games,Year,Season,City,Sport,Event,Medal
63,63,20,Kjetil Andr Aamodt,M,22.0,176.0,85.0,Norway,NOR,1994 Winter,1994,Winter,Lillehammer,Alpine Skiing,Alpine Skiing Men's Downhill,Silver
67,67,20,Kjetil Andr Aamodt,M,22.0,176.0,85.0,Norway,NOR,1994 Winter,1994,Winter,Lillehammer,Alpine Skiing,Alpine Skiing Men's Combined,Silver
86,86,25,Alf Lied Aanning,M,24.0,NaN,NaN,Norway,NOR,1920 Summer,1920,Summer,Antwerpen,Gymnastics,"Gymnastics Men's Team All-Around, Free System",Silver
92,92,30,Pepijn Aardewijn,M,26.0,189.0,72.0,Netherlands,NED,1996 Summer,1996,Summer,Atlanta,Rowing,Rowing Men's Lightweight Double Sculls,Silver
106,106,38,Karl Jan Aas,M,20.0,NaN,NaN,Norway,NOR,1920 Summer,1920,Summer,Antwerpen,Gymnastics,"Gymnastics Men's Team All-Around, Free System",Silver

In [14]:
# Saving Dataframe into a csv file
male_sports_df.to_csv('Male-Sports/male_olympics_silver.csv', index=False)

### Bronze

In [15]:
# Filtering for MALE, Age, Height, Weight, Team, Sport, Event, Medal (BRONZE)

male_sports_df = sports_df.loc[(sports_df['Sex'] =='M') & (sports_df['Medal'] =='Bronze'), :]
male_sports_df.head()

,sno,ID,Name,Sex,Age,Height,Weight,Country,NOC,Games,Year,Season,City,Sport,Event,Medal
37,37,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze
38,38,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze
40,40,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
41,41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
50,50,17,Paavo Johannes Aaltonen,M,32.0,175.0,64.0,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Gymnastics,Gymnastics Men's Team All-Around,Bronze

In [16]:
# Saving Dataframe into a csv file
male_sports_df.to_csv('Male-Sports/male_olympics_bronze.csv', index=False)

## Male Sport Categories

In [17]:
# Finding all male sport categories 
unique_m_sports_df = male_sports_df['Sport']
unique_m_sports_df = pd.DataFrame(unique_m_sports_df)

# unique_m_sports_df.Sport.unique()

## Male Sport Events

In [18]:
# Finding all male sport events
unique_m_events_df = male_sports_df['Event']
unique_m_events_df = pd.DataFrame(unique_m_events_df)

# unique_m_events_df.Event.unique()