In [1]:
import pandas as pd
import json

## Load

In [2]:

# Load data
sports_df = pd.read_csv('olympics_data.csv')
sports_df.head()

,sno,ID,Name,Sex,Age,Height,Weight,Country,NOC,Games,Year,Season,City,Sport,Event,Medal
0,0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

# Clean

In [3]:
# Checking to see count of datapoints
sports_df.count()

sno        271116
ID         271116
Name       271116
Sex        271116
Age        261642
Height     210945
Weight     208241
Country    271116
NOC        271116
Games      271116
Year       271116
Season     271116
City       271116
Sport      271116
Event      271116
Medal       39783
dtype: int64

In [4]:
# Dropping NaN
sports_df = sports_df.dropna(how='any')
sports_df.count()

sno        30181
ID         30181
Name       30181
Sex        30181
Age        30181
Height     30181
Weight     30181
Country    30181
NOC        30181
Games      30181
Year       30181
Season     30181
City       30181
Sport      30181
Event      30181
Medal      30181
dtype: int64

## Female Sports

### Gold

In [5]:
# Filtering for FEMALE and Medal (GOLD)
female_sports_df = sports_df.loc[(sports_df['Sex'] =='F') & (sports_df['Medal'] =='Gold') , :]
female_sports_df

,sno,ID,Name,Sex,Age,Height,Weight,Country,NOC,Games,Year,Season,City,Sport,Event,Medal
1494,1494,832,Nicola Virginia Adams,F,29.0,164.0,51.0,UK,GBR,2012 Summer,2012,Summer,London,Boxing,Boxing Women's Flyweight,Gold
1495,1495,832,Nicola Virginia Adams,F,33.0,164.0,51.0,UK,GBR,2016 Summer,2016,Summer,Rio de Janeiro,Boxing,Boxing Women's Flyweight,Gold
1527,1527,846,Valerie Kasanita Adams-Vili (-Price),F,23.0,193.0,120.0,New Zealand,NZL,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Women's Shot Put,Gold
1528,1528,846,Valerie Kasanita Adams-Vili (-Price),F,27.0,193.0,120.0,New Zealand,NZL,2012 Summer,2012,Summer,London,Athletics,Athletics Women's Shot Put,Gold
1668,1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270588,270588,135331,Olha Valentynivna Zubareva,F,22.0,182.0,90.0,Russia,URS,1980 Summer,1980,Summer,Moskva,Handball,Handball Women's Handball,Gold
270934,270934,135488,Nataliya Vladimirovna Zuyeva,F,19.0,176.0,62.0,Russia,RUS,2008 Summer,2008,Summer,Beijing,Rhythmic Gymnastics,Rhythmic Gymnastics Women's Group,Gold
270970,270970,135501,Ellina Aleksandrovna Zvereva (Kisheyeva-),F,39.0,183.0,100.0,Belarus,BLR,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's Discus Throw,Gold
271009,271009,135520,Julia Zwehl,F,28.0,167.0,60.0,Germany,GER,2004 Summer,2004,Summer,Athina,Hockey,Hockey Women's Hockey,Gold
271076,271076,135553,Galina Ivanovna Zybina (-Fyodorova),F,21.0,168.0,80.0,Russia,URS,1952 Summer,1952,Summer,Helsinki,Athletics,Athletics Women's Shot Put,Gold

In [6]:
# Finding Age, Height, Weight Median

gold_female_sports_df = female_sports_df.groupby(['Event', 'Sport', 'Country', 'NOC', 'Year', 'Sex'])

# Find median for Age, Height, Weight
gold_female_sports_df = gold_female_sports_df.median()
gold_female_sports_df = gold_female_sports_df[["Age", "Height", "Weight"]]
gold_female_sports_df

                                                                               Age  \
Event                                     Sport         Country NOC Year Sex
Alpine Skiing Women's Combined            Alpine Skiing Austria AUT 1988 F    21.0
                                                                    1992 F    22.0
                                                        Croatia CRO 2002 F    20.0
                                                                    2006 F    24.0
                                                        Germany GER 1998 F    25.0
...                                                                            ...
Wrestling Women's Lightweight, Freestyle  Wrestling     Japan   JPN 2016 F    32.0
Wrestling Women's Middleweight, Freestyle Wrestling     Japan   JPN 2004 F    20.0
                                                                    2008 F    24.0
                                                                    2012 F    28.0
                                                                    2016 F    21.0

                                                                              Height  \
Event                                     Sport         Country NOC Year Sex
Alpine Skiing Women's Combined            Alpine Skiing Austria AUT 1988 F     164.0
                                                                    1992 F     170.0
                                                        Croatia CRO 2002 F     175.0
                                                                    2006 F     175.0
                                                        Germany GER 1998 F     171.0
...                                                                              ...
Wrestling Women's Lightweight, Freestyle  Wrestling     Japan   JPN 2016 F     166.0
Wrestling Women's Middleweight, Freestyle Wrestling     Japan   JPN 2004 F     166.0
                                                                    2008 F     166.0
                                                                    2012 F     166.0
                                                                    2016 F     160.0

                                                                              Weight
Event                                     Sport         Country NOC Year Sex
Alpine Skiing Women's Combined            Alpine Skiing Austria AUT 1988 F      50.0
                                                                    1992 F      62.0
                                                        Croatia CRO 2002 F      76.0
                                                                    2006 F      76.0
                                                        Germany GER 1998 F      64.0
...                                                                              ...
Wrestling Women's Lightweight, Freestyle  Wrestling     Japan   JPN 2016 F      61.0
Wrestling Women's Middleweight, Freestyle Wrestling     Japan   JPN 2004 F      61.0
                                                                    2008 F      61.0
                                                                    2012 F      61.0
                                                                    2016 F      61.0

[1649 rows x 3 columns]

In [7]:
# Reset index
gold_female_sports_df = gold_female_sports_df.reset_index(level=['Event', 'Sport', 'Country', 'NOC', 'Year', 'Sex'])
gold_female_sports_df

,Event,Sport,Country,NOC,Year,Sex,Age,Height,Weight
0,Alpine Skiing Women's Combined,Alpine Skiing,Austria,AUT,1988,F,21.0,164.0,50.0
1,Alpine Skiing Women's Combined,Alpine Skiing,Austria,AUT,1992,F,22.0,170.0,62.0
2,Alpine Skiing Women's Combined,Alpine Skiing,Croatia,CRO,2002,F,20.0,175.0,76.0
3,Alpine Skiing Women's Combined,Alpine Skiing,Croatia,CRO,2006,F,24.0,175.0,76.0
4,Alpine Skiing Women's Combined,Alpine Skiing,Germany,GER,1998,F,25.0,171.0,64.0
...,...,...,...,...,...,...,...,...,...
1644,"Wrestling Women's Lightweight, Freestyle",Wrestling,Japan,JPN,2016,F,32.0,166.0,61.0
1645,"Wrestling Women's Middleweight, Freestyle",Wrestling,Japan,JPN,2004,F,20.0,166.0,61.0
1646,"Wrestling Women's Middleweight, Freestyle",Wrestling,Japan,JPN,2008,F,24.0,166.0,61.0
1647,"Wrestling Women's Middleweight, Freestyle",Wrestling,Japan,JPN,2012,F,28.0,166.0,61.0
1648,"Wrestling Women's Middleweight, Freestyle",Wrestling,Japan,JPN,2016,F,21.0,160.0,61.0

In [8]:
# Setting Dataframe into JSON format
results = {}
for key, df_gb in gold_female_sports_df.groupby('NOC'):
    results[str(key)] = df_gb.to_dict('records')

# print(results)

In [9]:
# Saving Dataframe into a JSON file 
with open('Test-HTML/static/js/female_bodycomp_age.json', 'w', encoding='utf-8') as f:
    json.dump(results, f, ensure_ascii=False, indent=4)

## Male Sports

### Gold

In [10]:
# Filtering for MALE and Medal (GOLD)

male_sports_df = sports_df.loc[(sports_df['Sex'] =='M') & (sports_df['Medal'] =='Gold'), :]
male_sports_df.head()

,sno,ID,Name,Sex,Age,Height,Weight,Country,NOC,Games,Year,Season,City,Sport,Event,Medal
42,42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold
44,44,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold
48,48,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,Gold
60,60,20,Kjetil Andr Aamodt,M,20.0,176.0,85.0,Norway,NOR,1992 Winter,1992,Winter,Albertville,Alpine Skiing,Alpine Skiing Men's Super G,Gold
73,73,20,Kjetil Andr Aamodt,M,30.0,176.0,85.0,Norway,NOR,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Men's Super G,Gold

In [11]:
# Finding Age, Height, Weight Median

gold_male_sports_df = male_sports_df.groupby(['Event', 'Sport', 'Country', 'NOC', 'Year', 'Sex'])

# Find median for Age, Height, Weight
gold_male_sports_df = gold_male_sports_df.median()
gold_male_sports_df = gold_male_sports_df[["Age", "Height", "Weight"]]
gold_male_sports_df

                                                                                   Age  \
Event                                     Sport         Country     NOC Year Sex
Alpine Skiing Men's Combined              Alpine Skiing Austria     AUT 1988 M    25.0
                                                                        1998 M    27.0
                                                        Italy       ITA 1992 M    23.0
                                                        Norway      NOR 1994 M    23.0
                                                                        2002 M    30.0
...                                                                                ...
Wrestling Men's Welterweight, Greco-Roman Wrestling     Serbia      SRB 2016 M    30.0
                                                        South Korea KOR 1988 M    28.0
                                                                        2012 M    23.0
                                                        Turkey      TUR 1956 M    27.0
                                                                        1960 M    31.0

                                                                                  Height  \
Event                                     Sport         Country     NOC Year Sex
Alpine Skiing Men's Combined              Alpine Skiing Austria     AUT 1988 M     182.0
                                                                        1998 M     176.0
                                                        Italy       ITA 1992 M     168.0
                                                        Norway      NOR 1994 M     180.0
                                                                        2002 M     176.0
...                                                                                  ...
Wrestling Men's Welterweight, Greco-Roman Wrestling     Serbia      SRB 2016 M     170.0
                                                        South Korea KOR 1988 M     177.0
                                                                        2012 M     173.0
                                                        Turkey      TUR 1956 M     172.0
                                                                        1960 M     172.0

                                                                                  Weight
Event                                     Sport         Country     NOC Year Sex
Alpine Skiing Men's Combined              Alpine Skiing Austria     AUT 1988 M      76.0
                                                                        1998 M      78.0
                                                        Italy       ITA 1992 M      70.0
                                                        Norway      NOR 1994 M      88.0
                                                                        2002 M      85.0
...                                                                                  ...
Wrestling Men's Welterweight, Greco-Roman Wrestling     Serbia      SRB 2016 M      66.0
                                                        South Korea KOR 1988 M      78.0
                                                                        2012 M      80.0
                                                        Turkey      TUR 1956 M      78.0
                                                                        1960 M      78.0

[3401 rows x 3 columns]

In [12]:
# Reset index
gold_male_sports_df = gold_male_sports_df.reset_index(level=['Event', 'Sport', 'Country', 'NOC', 'Year', 'Sex'])
gold_male_sports_df

,Event,Sport,Country,NOC,Year,Sex,Age,Height,Weight
0,Alpine Skiing Men's Combined,Alpine Skiing,Austria,AUT,1988,M,25.0,182.0,76.0
1,Alpine Skiing Men's Combined,Alpine Skiing,Austria,AUT,1998,M,27.0,176.0,78.0
2,Alpine Skiing Men's Combined,Alpine Skiing,Italy,ITA,1992,M,23.0,168.0,70.0
3,Alpine Skiing Men's Combined,Alpine Skiing,Norway,NOR,1994,M,23.0,180.0,88.0
4,Alpine Skiing Men's Combined,Alpine Skiing,Norway,NOR,2002,M,30.0,176.0,85.0
...,...,...,...,...,...,...,...,...,...
3396,"Wrestling Men's Welterweight, Greco-Roman",Wrestling,Serbia,SRB,2016,M,30.0,170.0,66.0
3397,"Wrestling Men's Welterweight, Greco-Roman",Wrestling,South Korea,KOR,1988,M,28.0,177.0,78.0
3398,"Wrestling Men's Welterweight, Greco-Roman",Wrestling,South Korea,KOR,2012,M,23.0,173.0,80.0
3399,"Wrestling Men's Welterweight, Greco-Roman",Wrestling,Turkey,TUR,1956,M,27.0,172.0,78.0
3400,"Wrestling Men's Welterweight, Greco-Roman",Wrestling,Turkey,TUR,1960,M,31.0,172.0,78.0

In [13]:
# Setting Dataframe into JSON format
results = {}
for key, df_gb in gold_male_sports_df.groupby('NOC'):
    results[str(key)] = df_gb.to_dict('records')

# print(results)

In [14]:
# Saving Dataframe into a JSON file 
with open('Test-HTML/static/js/male_bodycomp_age.json', 'w', encoding='utf-8') as f:
    json.dump(results, f, ensure_ascii=False, indent=4)