In [1]:
import pandas as pd

## Load

In [2]:

# Load data
sports_df = pd.read_csv('olympics_data.csv')
sports_df.head()

,sno,ID,Name,Sex,Age,Height,Weight,Country,NOC,Games,Year,Season,City,Sport,Event,Medal
0,0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

# Clean

In [3]:
# Checking to see count of datapoints
sports_df.count()

sno        271116
ID         271116
Name       271116
Sex        271116
Age        261642
Height     210945
Weight     208241
Country    271116
NOC        271116
Games      271116
Year       271116
Season     271116
City       271116
Sport      271116
Event      271116
Medal       39783
dtype: int64

In [4]:
# Dropping NaN
sports_df = sports_df.dropna(how='any')
sports_df.count()

sno        30181
ID         30181
Name       30181
Sex        30181
Age        30181
Height     30181
Weight     30181
Country    30181
NOC        30181
Games      30181
Year       30181
Season     30181
City       30181
Sport      30181
Event      30181
Medal      30181
dtype: int64

## Female Sports

### Gold

In [5]:
# Filtering for FEMALE and Medal (GOLD)
female_sports_df = sports_df.loc[(sports_df['Sex'] =='F') & (sports_df['Medal'] =='Gold') , :]
female_sports_df

,sno,ID,Name,Sex,Age,Height,Weight,Country,NOC,Games,Year,Season,City,Sport,Event,Medal
1494,1494,832,Nicola Virginia Adams,F,29.0,164.0,51.0,UK,GBR,2012 Summer,2012,Summer,London,Boxing,Boxing Women's Flyweight,Gold
1495,1495,832,Nicola Virginia Adams,F,33.0,164.0,51.0,UK,GBR,2016 Summer,2016,Summer,Rio de Janeiro,Boxing,Boxing Women's Flyweight,Gold
1527,1527,846,Valerie Kasanita Adams-Vili (-Price),F,23.0,193.0,120.0,New Zealand,NZL,2008 Summer,2008,Summer,Beijing,Athletics,Athletics Women's Shot Put,Gold
1528,1528,846,Valerie Kasanita Adams-Vili (-Price),F,27.0,193.0,120.0,New Zealand,NZL,2012 Summer,2012,Summer,London,Athletics,Athletics Women's Shot Put,Gold
1668,1668,925,Adenzia Aparecida Ferreira da Silva,F,25.0,187.0,65.0,Brazil,BRA,2012 Summer,2012,Summer,London,Volleyball,Volleyball Women's Volleyball,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270588,270588,135331,Olha Valentynivna Zubareva,F,22.0,182.0,90.0,Russia,URS,1980 Summer,1980,Summer,Moskva,Handball,Handball Women's Handball,Gold
270934,270934,135488,Nataliya Vladimirovna Zuyeva,F,19.0,176.0,62.0,Russia,RUS,2008 Summer,2008,Summer,Beijing,Rhythmic Gymnastics,Rhythmic Gymnastics Women's Group,Gold
270970,270970,135501,Ellina Aleksandrovna Zvereva (Kisheyeva-),F,39.0,183.0,100.0,Belarus,BLR,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's Discus Throw,Gold
271009,271009,135520,Julia Zwehl,F,28.0,167.0,60.0,Germany,GER,2004 Summer,2004,Summer,Athina,Hockey,Hockey Women's Hockey,Gold
271076,271076,135553,Galina Ivanovna Zybina (-Fyodorova),F,21.0,168.0,80.0,Russia,URS,1952 Summer,1952,Summer,Helsinki,Athletics,Athletics Women's Shot Put,Gold

In [6]:
# Finding Age, Height, Weight Median

gold_female_sports_df = female_sports_df.groupby(['Event','Sport','Year', 'Country', 'NOC', 'Sex', 'Medal'])

# Find median for Age, Height, Weight
gold_female_sports_df = gold_female_sports_df.median()
gold_female_sports_df[["Age", "Height", "Weight"]]

                                                                                     Age  \
Event                                     Sport         Year Country NOC Sex Medal
Alpine Skiing Women's Combined            Alpine Skiing 1988 Austria AUT F   Gold   21.0
                                                        1992 Austria AUT F   Gold   22.0
                                                        1994 Sweden  SWE F   Gold   23.0
                                                        1998 Germany GER F   Gold   25.0
                                                        2002 Croatia CRO F   Gold   20.0
...                                                                                  ...
Wrestling Women's Lightweight, Freestyle  Wrestling     2016 Japan   JPN F   Gold   32.0
Wrestling Women's Middleweight, Freestyle Wrestling     2004 Japan   JPN F   Gold   20.0
                                                        2008 Japan   JPN F   Gold   24.0
                                                        2012 Japan   JPN F   Gold   28.0
                                                        2016 Japan   JPN F   Gold   21.0

                                                                                    Height  \
Event                                     Sport         Year Country NOC Sex Medal
Alpine Skiing Women's Combined            Alpine Skiing 1988 Austria AUT F   Gold    164.0
                                                        1992 Austria AUT F   Gold    170.0
                                                        1994 Sweden  SWE F   Gold    161.0
                                                        1998 Germany GER F   Gold    171.0
                                                        2002 Croatia CRO F   Gold    175.0
...                                                                                    ...
Wrestling Women's Lightweight, Freestyle  Wrestling     2016 Japan   JPN F   Gold    166.0
Wrestling Women's Middleweight, Freestyle Wrestling     2004 Japan   JPN F   Gold    166.0
                                                        2008 Japan   JPN F   Gold    166.0
                                                        2012 Japan   JPN F   Gold    166.0
                                                        2016 Japan   JPN F   Gold    160.0

                                                                                    Weight
Event                                     Sport         Year Country NOC Sex Medal
Alpine Skiing Women's Combined            Alpine Skiing 1988 Austria AUT F   Gold     50.0
                                                        1992 Austria AUT F   Gold     62.0
                                                        1994 Sweden  SWE F   Gold     68.0
                                                        1998 Germany GER F   Gold     64.0
                                                        2002 Croatia CRO F   Gold     76.0
...                                                                                    ...
Wrestling Women's Lightweight, Freestyle  Wrestling     2016 Japan   JPN F   Gold     61.0
Wrestling Women's Middleweight, Freestyle Wrestling     2004 Japan   JPN F   Gold     61.0
                                                        2008 Japan   JPN F   Gold     61.0
                                                        2012 Japan   JPN F   Gold     61.0
                                                        2016 Japan   JPN F   Gold     61.0

[1649 rows x 3 columns]

In [7]:
# Saving Dataframe into a csv file and json file
gold_female_sports_df.to_csv('female_bodycomp_age.csv', index=True)

## Female Sport Categories

In [8]:
# Finding all female sports categories 
unique_f_sports_df = female_sports_df['Sport']
unique_f_sports_df = pd.DataFrame(unique_f_sports_df)

# unique_f_sports_df.Sport.unique()

## Female Sport Events

In [9]:
# Finding all female sport events
unique_f_events_df = female_sports_df['Event']
unique_f_events_df = pd.DataFrame(unique_f_events_df)

# unique_f_events_df.Event.unique()

## Male Sports

### Gold

In [10]:
# Filtering for MALE and  Medal (GOLD)

male_sports_df = sports_df.loc[(sports_df['Sex'] =='M') & (sports_df['Medal'] =='Gold'), :]
male_sports_df.head()

,sno,ID,Name,Sex,Age,Height,Weight,Country,NOC,Games,Year,Season,City,Sport,Event,Medal
42,42,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Team All-Around,Gold
44,44,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Horse Vault,Gold
48,48,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,Gold
60,60,20,Kjetil Andr Aamodt,M,20.0,176.0,85.0,Norway,NOR,1992 Winter,1992,Winter,Albertville,Alpine Skiing,Alpine Skiing Men's Super G,Gold
73,73,20,Kjetil Andr Aamodt,M,30.0,176.0,85.0,Norway,NOR,2002 Winter,2002,Winter,Salt Lake City,Alpine Skiing,Alpine Skiing Men's Super G,Gold

In [11]:
# Finding Age, Height, Weight Median

gold_male_sports_df = male_sports_df.groupby(['Event','Sport','Year', 'Country', 'NOC', 'Sex', 'Medal'])

# Find median for Age, Height, Weight
gold_male_sports_df = gold_male_sports_df.median()
gold_male_sports_df[["Age", "Height", "Weight"]]

                                                                                         Age  \
Event                                     Sport         Year Country     NOC Sex Medal
Alpine Skiing Men's Combined              Alpine Skiing 1988 Austria     AUT M   Gold   25.0
                                                        1992 Italy       ITA M   Gold   23.0
                                                        1994 Norway      NOR M   Gold   23.0
                                                        1998 Austria     AUT M   Gold   27.0
                                                        2002 Norway      NOR M   Gold   30.0
...                                                                                      ...
Wrestling Men's Welterweight, Greco-Roman Wrestling     2000 Cuba        CUB M   Gold   27.0
                                                        2004 Azerbaijan  AZE M   Gold   22.0
                                                        2008 France      FRA M   Gold   22.0
                                                        2012 South Korea KOR M   Gold   23.0
                                                        2016 Serbia      SRB M   Gold   30.0

                                                                                        Height  \
Event                                     Sport         Year Country     NOC Sex Medal
Alpine Skiing Men's Combined              Alpine Skiing 1988 Austria     AUT M   Gold    182.0
                                                        1992 Italy       ITA M   Gold    168.0
                                                        1994 Norway      NOR M   Gold    180.0
                                                        1998 Austria     AUT M   Gold    176.0
                                                        2002 Norway      NOR M   Gold    176.0
...                                                                                        ...
Wrestling Men's Welterweight, Greco-Roman Wrestling     2000 Cuba        CUB M   Gold    177.0
                                                        2004 Azerbaijan  AZE M   Gold    174.0
                                                        2008 France      FRA M   Gold    172.0
                                                        2012 South Korea KOR M   Gold    173.0
                                                        2016 Serbia      SRB M   Gold    170.0

                                                                                        Weight
Event                                     Sport         Year Country     NOC Sex Medal
Alpine Skiing Men's Combined              Alpine Skiing 1988 Austria     AUT M   Gold     76.0
                                                        1992 Italy       ITA M   Gold     70.0
                                                        1994 Norway      NOR M   Gold     88.0
                                                        1998 Austria     AUT M   Gold     78.0
                                                        2002 Norway      NOR M   Gold     85.0
...                                                                                        ...
Wrestling Men's Welterweight, Greco-Roman Wrestling     2000 Cuba        CUB M   Gold     74.0
                                                        2004 Azerbaijan  AZE M   Gold     66.0
                                                        2008 France      FRA M   Gold     66.0
                                                        2012 South Korea KOR M   Gold     80.0
                                                        2016 Serbia      SRB M   Gold     66.0

[3401 rows x 3 columns]

In [12]:
# Saving Dataframe into a csv file and json file
gold_male_sports_df.to_csv('male_bodycomp_age.csv', index=True)

## Male Sport Categories

In [13]:
# Finding all male sport categories 
unique_m_sports_df = male_sports_df['Sport']
unique_m_sports_df = pd.DataFrame(unique_m_sports_df)

# unique_m_sports_df.Sport.unique()

## Male Sport Events

In [14]:
# Finding all male sport events
unique_m_events_df = male_sports_df['Event']
unique_m_events_df = pd.DataFrame(unique_m_events_df)

# unique_m_events_df.Event.unique()